A:hover {
	COLOR: #039; TEXT-DECORATION: underline
}
A:active {
	COLOR: #039; TEXT-DECORATION: none
}
A:unknown {
	COLOR: #666; TEXT-DECORATION: none
}
BODY {
	COLOR: #000; FONT-FAMILY: Arial, Helvetica, Geneva, Swiss, SunSans-Regular; FONT-SIZE: 13px; TEXT-DECORATION: none
}
TABLE {
	COLOR: #000; FONT-FAMILY: Arial, Helvetica, Geneva, Swiss, SunSans-Regular; FONT-SIZE: 13px; TEXT-DECORATION: none
}
TD {
	COLOR: #000; FONT-FAMILY: Arial, Helvetica, Geneva, Swiss, SunSans-Regular; FONT-SIZE: 13px; TEXT-DECORATION: none
}
TH {
	COLOR: #000; FONT-FAMILY: Arial, Helvetica, Geneva, Swiss, SunSans-Regular; FONT-SIZE: 13px; TEXT-DECORATION: none
}
H1 {
	COLOR: #666; FONT-FAMILY: Arial, Helvetica, Geneva, Swiss, SunSans-Regular; FONT-SIZE: 13px
}
H2 {
	COLOR: #666; FONT-FAMILY: Arial, Helvetica, Geneva, Swiss, SunSans-Regular; FONT-SIZE: 13px
}
H3 {
	COLOR: #666; FONT-FAMILY: Arial, Helvetica, Geneva, Swiss, SunSans-Regular; FONT-SIZE: 16px
}
H4 {
	COLOR: #666; FONT-FAMILY: Arial, Helvetica, Geneva, Swiss, SunSans-Regular; FONT-SIZE: 13px
}
H5 {
	COLOR: #666; FONT-FAMILY: Arial, Helvetica, Geneva, Swiss, SunSans-Regular; FONT-SIZE: 13px
}
.cwcopyright {
	COLOR: #000; FONT-FAMILY: Arial, Helvetica, Geneva, Swiss, SunSans-Regular; FONT-SIZE: 11px; FONT-WEIGHT: normal; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.cwcrumbs {
	COLOR: #000; FONT-FAMILY: Arial, Helvetica, Geneva, Swiss, SunSans-Regular; FONT-SIZE: 10px; FONT-WEIGHT: normal; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.cwnormal {
	COLOR: #000; FONT-FAMILY: Arial, Helvetica, Geneva, Swiss, SunSans-Regular; FONT-SIZE: 13px; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.cwstrap {
	COLOR: #000; FONT-FAMILY: Arial, Helvetica, Geneva, Swiss, SunSans-Regular; FONT-SIZE: 16px; FONT-WEIGHT: bold; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.linktable {
	COLOR: #000; FONT-FAMILY: Arial, Helvetica, Geneva, Swiss, SunSans-Regular; FONT-SIZE: 16px; FONT-WEIGHT: 600; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.Navpad {
	FONT-FAMILY: Arial, Helvetica, Geneva, Swiss, SunSans-Regular; FONT-SIZE: 13px; FONT-WEIGHT: bolder; TEXT-DECORATION: none
}
.sidebarbody {
	COLOR: #000; FONT-FAMILY: Arial, Helvetica, Geneva, Swiss, SunSans-Regular; FONT-SIZE: 13px; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.sidebarhead {
	COLOR: #fff; FONT-FAMILY: Arial, Helvetica, Geneva, Swiss, SunSans-Regular; FONT-SIZE: 13px; FONT-WEIGHT: bolder; TEXT-ALIGN: left; TEXT-DECORATION: none
}
A {
	COLOR: #039; TEXT-DECORATION: none
}
DIV#navpulltab {
	DISPLAY: none
}
DIV#panel {
	DISPLAY: none
}
DIV#global2 {
	DISPLAY: none
}
DIV#country2 {
	DISPLAY: none
}
DIV#padopen {
	DISPLAY: none
}
