BODY {
	FONT-FAMILY: verdana, arial, helvetica, sans-serif; FONT-SIZE: 9pt; MARGIN: 0px
}
FORM {
	MARGIN: 0px
}
.submit {
	BACKGROUND-COLOR: white; BORDER-BOTTOM: black 1.5pt solid; BORDER-LEFT: black 1.5pt solid; BORDER-RIGHT: black 1.5pt solid; BORDER-TOP: black 1.5pt solid; COLOR: #000000; FONT-FAMILY: Verdana, Helvetica, Sans-Regular; FONT-SIZE: 90%; FONT-WEIGHT: bold
}
td {
	FONT-FAMILY: verdana, arial, helvetica, sans-serif; FONT-SIZE: 9pt
}
.std {
	font-size:9pt;
	font-weight:normal;
	font-family: verdana, arial, helvetica, sans-serif;
	background-color : white;
	BORDER-BOTTOM: medium none;
	BORDER-LEFT: medium none;
	BORDER-RIGHT: medium none;
	BORDER-TOP: medium none;
}
.grid1 {
	BORDER-BOTTOM: silver 1px solid;
	BORDER-LEFT: medium none;
	BORDER-RIGHT: medium none;
	BORDER-TOP: medium none;
	COLOR: black;
	FONT-FAMILY: verdana, arial, helvetica, sans-serif;
	FONT-SIZE: xx-small;
	background-color : #eaeffa;
	HEIGHT: 20px
}
.grid2 {
	BORDER-BOTTOM: silver 1px solid;
	BORDER-LEFT: medium none;
	BORDER-RIGHT: medium none;
	BORDER-TOP: medium none;
	COLOR: black;
	FONT-FAMILY: verdana, arial, helvetica, sans-serif;
	FONT-SIZE: xx-small;
	background-color : #FFFFFF;
	HEIGHT: 20pt
}
.box {
	BORDER-BOTTOM: blue 2px solid;
	BORDER-LEFT: blue 2px solid;
	BORDER-RIGHT: blue 2px solid;
	BORDER-TOP: blue 2px solid;
	COLOR: black;
	FONT-FAMILY: verdana, arial, helvetica, sans-serif;
	FONT-SIZE: xx-small;
	background-color : #ffffff;
	HEIGHT: 20px
}

TD.gridHeader {
	BORDER-BOTTOM: medium none;
	BORDER-LEFT: medium none;
	BORDER-RIGHT: medium none;
	BORDER-TOP: medium none;
	COLOR: white;
	FONT-FAMILY: verdana, arial, helvetica, sans-serif;
	FONT-SIZE: xx-small;
	FONT-WEIGHT: bold;
	HEIGHT: 15px;
	LINE-HEIGHT: 8pt
}
td.grid_menu {
	BORDER-BOTTOM: medium none;
	BORDER-LEFT: medium none;
	BORDER-RIGHT: medium none;
	BORDER-TOP: medium none;
	COLOR: black;
	FONT-FAMILY: verdana, arial, helvetica, sans-serif;
	FONT-SIZE: xx-small;
	background-color : #CCCCFF;
	HEIGHT: 20px;
}
td.menu {
	BORDER-BOTTOM: medium none;
	BORDER-LEFT: medium none;
	BORDER-RIGHT: medium none;
	BORDER-TOP: medium none;
	COLOR: white;
	FONT-FAMILY: verdana, arial, helvetica, sans-serif;
	FONT-SIZE: xx-small;
	background-color :   #eaeffa;
	HEIGHT: 20px;
	text-align : center
}
TD.form{
        background-color: #003399;
	color: #ffffff;
	text-align : center;
	width : 100%;
	FONT-FAMILY: verdana, arial, helvetica, sans-serif;
	FONT-SIZE: xx-small;
	FONT-WEIGHT: bold;
	HEIGHT: 20pt;
	border : none;
}
td.mandatory {
  border-color: blue
}

TR.gridHeader{
	background-color : #9999FF;
	height: 20px
}
IFRAME.grid {
	padding-right : 0px;
	padding-left : 0px;
	margin-left : 0px;
	margin-right : 0px;
	border: none;
	width:100%;
	height:400;
}
A {
	COLOR: #003399; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
A:visited {
	COLOR: #003399; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
.headerfooter {
	BACKGROUND-COLOR: #003399; COLOR: #ffffff; WIDTH: 100%
}
.yellow {
	COLOR: #ffcc00; TEXT-DECORATION: none
}
.yellow:hover {
	COLOR: #ffcc00; TEXT-DECORATION: none
}
A.yellow:link {
	COLOR: #ffcc00; FONT-FAMILY: verdana, arial, helvetica, sans-serif; TEXT-DECORATION: none
}
A.yellow:visited {
	COLOR: #ffcc00; FONT-FAMILY: verdana, arial, helvetica, sans-serif; TEXT-DECORATION: none
}
.white {
	COLOR: #ffffff
}
.headerform {
	BACKGROUND-COLOR: #003399; BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BORDER-RIGHT: 0px; BORDER-TOP: 0px; MARGIN: 0px
}
.footerlink {
	FONT-FAMILY: verdana, arial, helvetica, sans-serif; FONT-SIZE: 80%; TEXT-DECORATION: none
}
A.footerlink:link {
	COLOR: #009999; TEXT-DECORATION: none
}
A.footerlink:visited {
	COLOR: #009999; TEXT-DECORATION: none
}
.footertext {
	FONT-FAMILY: verdana, arial, helvetica, sans-serif; FONT-SIZE: 85%; TEXT-DECORATION: none
}
.breadcrumbblack {
	COLOR: #000000; FONT-FAMILY: verdana, arial, helvetica, sans-serif; FONT-SIZE: 80%
}
.breadcrumbcurrent {
	COLOR: #0099ff; FONT-FAMILY: verdana, arial, helvetica, sans-serif; FONT-SIZE: 80%; TEXT-DECORATION: none
}
A.breadcrumbcurrent:link {
	COLOR: #0099ff; FONT-FAMILY: verdana, arial, helvetica, sans-serif; TEXT-DECORATION: none
}
A.breadcrumbcurrent:visited {
	COLOR: #0099ff; FONT-FAMILY: verdana, arial, helvetica, sans-serif; TEXT-DECORATION: none
}
.breadcrumblink {
	COLOR: #003399; FONT-FAMILY: verdana, arial, helvetica, sans-serif; FONT-SIZE: 80%; TEXT-DECORATION: none
}
A.breadcrumblink:visited {
	COLOR: #003399; FONT-FAMILY: verdana, arial, helvetica, sans-serif; TEXT-DECORATION: none
}
A.breadcrumblink:link {
	COLOR: #003399; FONT-FAMILY: verdana, arial, helvetica, sans-serif; TEXT-DECORATION: none
}
.heading {
	COLOR: #003399; FONT-FAMILY: verdana, arial, helvetica, sans-serif; FONT-SIZE: 140%
}
.blackbold {
	COLOR: #000000; FONT-FAMILY: verdana, arial, helvetica, sans-serif; FONT-SIZE: 80%; FONT-WEIGHT: bold
}
.bluebold {
	COLOR: #003399; FONT-FAMILY: verdana, arial, helvetica, sans-serif; FONT-SIZE: 80%; FONT-WEIGHT: bold
}
.brightblue {
	COLOR: #003399; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
.blacksmall {
	COLOR: #000000; FONT-FAMILY: verdana, arial, helvetica, sans-serif; FONT-SIZE: 60%
}
.novisited {
	FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
A.novisited:link {
	COLOR: #009999
}
A.novisited:visited {
	COLOR: #009999
}
.novisitedsmall {
	FONT-FAMILY: verdana, arial, helvetica, sans-serif; FONT-SIZE: 80%
}
A.novisitedsmall:link {
	COLOR: #009999
}
A.novisitedsmall:visited {
	COLOR: #009999
}
.navancestor {
	COLOR: #003399; FONT-FAMILY: verdana, arial, helvetica, sans-serif; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
A.navancestor:link {
	COLOR: #003399; FONT-FAMILY: verdana, arial, helvetica, sans-serif; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
A.navancestor:visited {
	COLOR: #003399; FONT-FAMILY: verdana, arial, helvetica, sans-serif; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.navancestorcurrent {
	COLOR: #0099ff; FONT-FAMILY: verdana, arial, helvetica, sans-serif; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
A.navancestorcurrent:link {
	COLOR: #0099ff; FONT-FAMILY: verdana, arial, helvetica, sans-serif; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
A.navancestorcurrent:visited {
	COLOR: #0099ff; FONT-FAMILY: verdana, arial, helvetica, sans-serif; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.navchild {
	COLOR: #003399; FONT-FAMILY: verdana, arial, helvetica, sans-serif; TEXT-DECORATION: none
}
A.navchild:link {
	COLOR: #003399; FONT-FAMILY: verdana, arial, helvetica, sans-serif; TEXT-DECORATION: none
}
A.navchild:visited {
	COLOR: #003399; FONT-FAMILY: verdana, arial, helvetica, sans-serif; TEXT-DECORATION: none
}
.navchildcurrent {
	COLOR: #0099ff; FONT-FAMILY: verdana, arial, helvetica, sans-serif; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
A.navchildcurrent:link {
	COLOR: #0099ff; FONT-FAMILY: verdana, arial, helvetica, sans-serif; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
A.navchildcurrent:visited {
	COLOR: #0099ff; FONT-FAMILY: verdana, arial, helvetica, sans-serif; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.rightbarheading {
	COLOR: #003399; FONT-FAMILY: verdana, arial, helvetica, sans-serif; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.rightbarsubheading {
	COLOR: #003399; FONT-FAMILY: verdana, arial, helvetica, sans-serif; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.rightbartext {
	COLOR: #000000; FONT-FAMILY: verdana, arial, helvetica, sans-serif; TEXT-DECORATION: none
}
.rightbardate {
	COLOR: #000000; FONT-FAMILY: verdana, arial, helvetica, sans-serif; FONT-SIZE: 60%
}
.rightbarcontact {
	FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
A.rightbarcontact:link {

}
A.rightbarcontact:visited {
	COLOR: #009999
}
.rightbartodo {
	FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
A.rightbartodo:link {
	COLOR: #009999
}
A.rightbartodo:visited {
	COLOR: #009999
}
.newsheading {
	COLOR: #003399; FONT-FAMILY: verdana, arial, helvetica, sans-serif; FONT-SIZE: 160%
}
.newsdate {
	COLOR: #999999; FONT-FAMILY: verdana, arial, helvetica, sans-serif; FONT-SIZE: 60%
}
.newssearchdate {
	COLOR: #999999; FONT-FAMILY: verdana, arial, helvetica, sans-serif; FONT-SIZE: 80%
}
.newstitle {
	COLOR: #009999; FONT-FAMILY: verdana, arial, helvetica, sans-serif; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.newstitlenovisit {
	COLOR: #009999; FONT-FAMILY: verdana, arial, helvetica, sans-serif; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
A.newstitlenovisit:link {
	COLOR: #009999
}
A.newstitlenovisit:visited {
	COLOR: #009999
}
.maincalendartitle {
	COLOR: #003399; FONT-FAMILY: verdana, arial, helvetica, sans-serif; FONT-SIZE: 140%
}
.calendartitle {
	COLOR: #003399; FONT-FAMILY: verdana, arial, helvetica, sans-serif; FONT-WEIGHT: bold
}
.calendarmonth {
	COLOR: #003399; FONT-FAMILY: verdana, arial, helvetica, sans-serif; FONT-SIZE: 70%; FONT-WEIGHT: bold
}
.calendarday {
	COLOR: #000000; FONT-FAMILY: verdana, arial, helvetica, sans-serif; FONT-SIZE: 70%
}
A.calendarday:link {
	COLOR: #009999
}
A.calendarday:visited {
	COLOR: #009999
}
.datedropdown {
	FONT-FAMILY: verdana, arial, helvetica, sans-serif; FONT-SIZE: 70%
}
.newssearchbox {
	FONT-FAMILY: verdana, arial, helvetica, sans-serif; FONT-SIZE: 70%; WIDTH: 140px
}
.disclaimer {
	COLOR: #000000; FONT-FAMILY: verdana, arial, helvetica, sans-serif; FONT-SIZE: 60%
}
.quote {
	COLOR: #999999; FONT-FAMILY: verdana, arial, helvetica, sans-serif; FONT-SIZE: 100%; FONT-WEIGHT: bold
}
.cwstrap {
	COLOR: #666666; FONT-FAMILY: Arial, Helvetica, Geneva, Swiss, SunSans-Regular; FONT-SIZE: 16px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
H1 {
	COLOR: #003399; FONT-FAMILY: verdana, arial, helvetica, sans-serif; FONT-WEIGHT: normal
}
H2 {
	COLOR: #003399; FONT-FAMILY: verdana, arial, helvetica, sans-serif; FONT-WEIGHT: normal
}
.Instructions{
	COLOR: #666; FONT-FAMILY: Arial, Helvetica, Geneva, Swiss, SunSans-Regular; FONT-SIZE: 13px
}
H3 {
	COLOR: #003399; FONT-FAMILY: verdana, arial, helvetica, sans-serif; FONT-WEIGHT: normal
}
H4 {
	COLOR: #003399; FONT-FAMILY: verdana, arial, helvetica, sans-serif; FONT-WEIGHT: normal
}
H5 {
	COLOR: #003399; FONT-FAMILY: verdana, arial, helvetica, sans-serif; FONT-WEIGHT: normal
}
H6 {
	COLOR: #666666; FONT-FAMILY: Arial, Helvetica, Geneva, Swiss, SunSans-Regular; FONT-SIZE: 13px
}
H7 {
	COLOR: #666666; FONT-FAMILY: Arial, Helvetica, Geneva, Swiss, SunSans-Regular; FONT-SIZE: 13px
}
input.button {
	background-color: #003399;
	color: #ffffff;
	FONT-FAMILY: arial, verdana, helvetica, sans-serif;
	FONT-SIZE: x-small;
	font-weight : bold;
}
input.listbutton {
	background-color: #003399;
	color: #ffffff;
	FONT-FAMILY: arial, verdana, helvetica, sans-serif;
	FONT-SIZE: x-small;
	font-weight : bold;
        width: 24px;
        height: 22px;
}
input.listbutton2 {
	background-color: #ffffff;
	color: #003399;
	FONT-FAMILY: arial, verdana, helvetica, sans-serif;
	FONT-SIZE: x-small;
	font-weight : bold;
        width: 24px;
        height: 22px;
}
button.dynamic_menu {
	BORDER-BOTTOM: medium none;
	BORDER-LEFT: medium none;
	BORDER-RIGHT: medium none;
	BORDER-TOP: medium none;
	COLOR: black;
	FONT-FAMILY: verdana, arial, helvetica, sans-serif;
	FONT-SIZE: xx-small;
	background-color :   #eaeffa;
	HEIGHT: 20px;
	text-align : left;
	width: 100%
}
button.dynamic_menu_lit {
	BORDER-BOTTOM: medium none;
	BORDER-LEFT: medium none;
	BORDER-RIGHT: medium none;
	BORDER-TOP: medium none;
	background-color: #003399;
	color: #ffffff;
	FONT-FAMILY: verdana, arial, helvetica, sans-serif;
	FONT-SIZE: xx-small;
	HEIGHT: 20px;
	text-align : left;
	width: 100%
}
button.menu {
	BORDER-BOTTOM: medium none;
	BORDER-LEFT: medium none;
	BORDER-RIGHT: medium none;
	BORDER-TOP: medium none;
	COLOR: black;
	FONT-FAMILY: verdana, arial, helvetica, sans-serif;
	FONT-SIZE: xx-small;
	background-color : #ffffff;
	HEIGHT: 20px;
	text-align : left;
	width: 100%
}
button.menu_bold {
	BORDER-BOTTOM: medium none;
	BORDER-LEFT: medium none;
	BORDER-RIGHT: medium none;
	BORDER-TOP: medium none;
	COLOR: black;
	FONT-FAMILY: verdana, arial, helvetica, sans-serif;
	FONT-SIZE: xx-small;
	background-color : #ffffff;
	HEIGHT: 20px;
	text-align : left;
	width: 100%;
	font-weight : bold;
}
button.menu_bold_blue {
	BORDER-BOTTOM: thin solid #003399;
	BORDER-LEFT: thin solid #003399;
	BORDER-RIGHT: thin solid #003399;
	BORDER-TOP: thin solid #003399;
	COLOR: #003399;
	FONT-FAMILY: verdana, arial, helvetica, sans-serif;
	FONT-SIZE: x-small;
	background-color : #ffffff;
	HEIGHT: 20px;
	text-align : center;
	font-weight : bold;
}
button.menu_lit {
	background-color: White;
	color: #003399;
	FONT-FAMILY: verdana, arial, helvetica, sans-serif;
	font-size: 80%;
	text-align : left;
	width : 100%;
	border : none;
	text-decoration: underline;
}
button.menu_bar {
	background-color: #003399;
	color: #ffffff;
	text-align : center;
	width : 100%;
	FONT-FAMILY: verdana, arial, helvetica, sans-serif;
	FONT-SIZE: xx-small;
	FONT-WEIGHT: bold;
	HEIGHT: 20pt;
	border : none;
}
button.std {
	background-color: #003399;
	color: #ffffff;
	text-align : center;
	FONT-FAMILY: verdana, arial, helvetica, sans-serif;
	FONT-SIZE: xx-small;
	FONT-WEIGHT: bold;
	HEIGHT: 20pt;
	border : none;
}

button.menu_bar_lit{
	background-color: #003399;
	color: red;
	text-align : center;
	width : 100%;
	text-align : center;
	FONT-FAMILY: verdana, arial, helvetica, sans-serif;
	FONT-SIZE: xx-small;
	FONT-WEIGHT: bold;
	HEIGHT: 20pt;
	border : none;
}
.mandatory {
	font-size : xx-small;
	color : blue;
	font-weight : bold;
}
.optional{
	font-size : xx-small;
	color : black;
	font-weight : bold;
}
.errored
 {
	font-size : xx-small;
	color : red;
	font-weight : bold;
}
hr
{
	border-top: blue 2px solid;
}
button.grid_menu {
	BORDER-BOTTOM: medium none;
	BORDER-LEFT: medium none;
	BORDER-RIGHT: medium none;
	BORDER-TOP: medium none;
	COLOR: black;
	FONT-FAMILY: verdana, arial, helvetica, sans-serif;
	FONT-SIZE: xx-small;
	FONT-WEIGHT: bold ;
	background-color : #CCCCFF;
	HEIGHT: 20px;
	text-align : left;
	width: 100%
}
.skin0 {
position:absolute;
text-align:left;
width:200px;
border:2px solid black;
background-color:menu;
font-family:Verdana;
line-height:20px;
cursor:default;
visibility:hidden;
}
.skin1 {
cursor:default;
font:menutext;
position:absolute;
text-align:left;
font-family: Arial, Helvetica, sans-serif;
font-size: 10pt;
width:120px;
background-color:menu;
border:1 solid buttonface;
visibility:hidden;
border:2 outset buttonhighlight;
}
.menuitems {
padding-left:15px;
padding-right:10px;
}
.siteclosed
{
	border : medium none;
	height : 0;
	width : 100%;
}
.siteopen
{
	border : medium;
	height : 120;
	width : 100%;
}
select
{
	background-color: #eaeffa;
	FONT-FAMILY: verdana, arial, helvetica, sans-serif;
	HEIGHT: 20px;
	text-align : left;
	width: 200px;
	font : bold 10px;
	border : thin groove Black;
}
.inp
{
	BORDER-BOTTOM: thin groove;
	BORDER-LEFT: thin groove;
	BORDER-RIGHT: thin groove;
	BORDER-TOP: thin groove;
	COLOR: black;
	FONT-FAMILY: verdana, arial, helvetica, sans-serif;
	FONT-SIZE: xx-small;
	background-color : #eaeffa;
	HEIGHT: 20px;
	text-align : left;
	readonly : true;
}
textarea.tworows
{
	BORDER-BOTTOM: thin groove;
	BORDER-LEFT: thin groove;
	BORDER-RIGHT: thin groove;
	BORDER-TOP: thin groove;
	COLOR: black;
	FONT-FAMILY: verdana, arial, helvetica, sans-serif;
	FONT-SIZE: xx-small;
	background-color : #eaeffa;
	HEIGHT: 40px;
	text-align : left;
}
textarea.red
{
	BORDER-BOTTOM: thin groove;
	BORDER-LEFT: thin groove;
	BORDER-RIGHT: thin groove;
	BORDER-TOP: thin groove;
	COLOR: red;
	FONT-FAMILY: verdana, arial, helvetica, sans-serif;
	FONT-SIZE: xx-small;
	background-color : #eaeffa;
	HEIGHT: 40px;
	text-align : left;
}